.jumbotron
    h2 Analyzed files:
    ul
      li(data-ng-repeat="(id, value) in results.result") 
        a(href="", scroll-to="{{(id).split('/').join('-').replace('.', '_')}}") {{id}}

    div(data-ng-repeat="(id, value) in results.result") 
        h3(id="{{(id).split('/').join('-').replace('.', '_')}}") {{id}}
        div(class="generalErrors-{{(id).split('/').join('-').replace('.', '_')}}")
            h4 Statistics
            |Error count: 
            span.ErrorCount 0
            h4 General errors
            ul.GeneralErrors
                li.none none
        pre(class="prettyprint")
           code(class="language-java") 
               | {{(value.source).join('\n')}}
